body {
  background-color: #4F6367;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #EEF5DB;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

.add-nemesis {
  display: none;
}

.nemesis-cont {
  position: relative;
  background-color: #EEF5DB;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 310px;
  height: fit-content;
  padding: 10px;
}

.nemesis-photo-cont {
  margin: auto;
  width: 90%;
}

.nemesis-photo-cont img {
  margin: auto;
  width: 100%
}

#nemesis {
  position: absolute;
  top: 0;
  left: 0;
}